<div class="row">
    <div class="col-8">
        <div class="bg-white p-4">
            <h2 class="mb-4">Create </h2>
            <hr>

            <form asp-controller="Admin" asp-action="CreateField" method="post">

                <div class="mb-3">
                    <label for="number" class="form-label">number</label>
                    <input type="text" class="form-control" name="number">
                </div>
                        





                <button type="submit" class="btn btn-primary">Kaydet</button>
            </form>
        </div>
    </div>
</div>